{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.date) }}
        {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.location) }}
        {{ form_widget(form.location, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <button class="btn btn-success"><i class="fas fa-save"></i> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}
