{% extends 'index.html.twig' %}

{% block title %}Event Details{% endblock %}

{% block head %}
    {{ parent() }}
    <!-- Open Graph Meta Tags for Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ event.name }}">
    <meta property="og:description" content="{{ event.description }}">
    <meta property="og:image" content="{{ asset('images/event_image.jpg') | join('/', [app.request.schemeAndHttpHost, asset('images/event_image.jpg')]) }}">
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ path('app_event_show', {'id': event.id}) }}">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card shadow-lg p-4">
            <h1 class="text-center mb-4">{{ event.name }}</h1>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="bg-light">ID</th>
                        <td>{{ event.id }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Name</th>
                        <td>{{ event.name }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Date</th>
                        <td>{{ event.date ? event.date|date('Y-m-d H:i') : 'N/A' }}</td>
                    </tr>
                    <tr>
                        <th class="bg-light">Location</th>
                        <td>{{ event.location }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('app_event_index') }}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
                <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-warning">
                    <i class="fas fa-edit"></i> Edit
                </a>
                {{ include('event/_delete_form.html.twig') }}
            </div>

            <!-- Facebook Share Button -->
            <div class="mt-4 text-center">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost ~ path('app_event_show', {'id': event.id}) }}" 
                   class="btn btn-primary btn-sm" target="_blank">
                    <i class="fab fa-facebook-f"></i> Share on Facebook
                </a>
            </div>
        </div>
    </div>
{% endblock %}
